[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
pandas = "*"
numpy = ">=1.26.0"
mlxtend = "*"
scikit-learn = "*"
plotly = "*"
werkzeug = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.11"